.card {
    background-color: rgb(100, 167, 184);
}

.list-group-item {
    background-color: rgb(100, 167, 184);
    border-color: rgb(100, 167, 184);
}

.single-card {
    background-color: #bbecee;
}